@font-face {
    font-family: 'poppins';
    src: url('./src/assets/font/Poppins/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
     font-family: 'poppins', sans-serif;
    color: #333;
}


section {
    padding: 80px 8%;

}

.section-title {


    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #3a88ed;
    background: linear-gradient(135deg, #46c5e5 0%, #3a88ed 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    text-align: center;

}

.section-title::after {
    content: "";
    width: 80px;
    height: 4px;
    background:linear-gradient(135deg, #46c5e5 0%, #3a88ed 100%);;
    display: block;
    margin: 15px auto 0;
    border-radius: 5px;
}
